:root {
    --primary-color: #5151bb;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
}

body {
    font-family: "Orbitron", sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    color: #fff;
    transition: background-color 0.5s, color 0.5s;
}

    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background-image: url("/src/assets/1U2Q.gif");
        background-size: cover;
        background-color: black;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -2;
    }

    body::after {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(36, 36, 36));
        z-index: -1;
    }

nav {
    background-color: transparent;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    text-align: center;
    top: 0;
    z-index: 1;
}

button {
    margin: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

li {
    display: inline;
}

a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;

}

    a:hover {
        background-color: #333;
    }

.container {
    padding: 20px;
    padding-bottom: 200px;
    position: absolute;
    left: 50%;
    transform: translateY(-50%);
}

h1, h2 {
    margin-bottom: 20px;
    text-align: left;
}

h1 {
    font-size: 2em;
    color: var(--primary-color);
}

h2 {
    font-size: 1.2em;
}

p {
    font-size: 1em;
    margin-bottom: 20px;
    text-align: left;
}

a {
    color: var(--primary-color);
}


@media only screen and (max-width: 767px) {
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1em;
    }

    .in-topic-1,
    .in-topic-2,
    .in-topic-3 {
        height: 50px;
        width: 100%;
    }

    .cost-plan {
        margin-right: 0;
        display: block;
        margin-bottom: 10px;
    }
}
